.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* customerize */
.selectList {
  width: 391px;
  padding: 8px;
}
.selectList-title {
  width: auto;
  text-align: left;
  padding: 24px 32px 24px 32px;
  background-color: #a35ff9;
  margin-bottom: 8px;
}
.selectList-caption {
  display: block;

  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
  margin-bottom: 1px;
}
.selectList-head {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;

  color: #ffffff;
}
.selectList-divid {
  border-top: #e3e3e3 solid 1px;
  height: 0px;
  margin-bottom: 8px;
}

.selectList h2 {
  font-size: 28px;
}
.selectList-imageParts {
  display: flex;
  flex-wrap: wrap;
  width: 392px;
  margin-bottom: 8px;
}
.selectList-footer {
}
.selectList-controls {
  display: flex;
  justify-content: space-between;
}
.selectList-btn {
  /* right: 0px; */
}
.selectList-iconBtn svg {
  font-size: 28px;
  margin-right: 8px;
  color: #737373;
}

.SelectOption {
  width: 96px;
  height: 96px;
  padding: 1px;
  position: relative;
}
.SelectOption img {
  width: 100%;

  transition: transform 0.1s ease-in-out;
}
.SelectOption.selected img {
  transform: scale(0.8, 0.8);
}
.SelectOption.selected::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 6px;
  top: 5px;
  background-color: #a35ff9;
  border-radius: 9px;
  z-index: 2;
}
.faIcon {
  position: absolute;
  left: 8px;
  top: 7px;
  margin: auto;
  z-index: 3;
  font-size: 14px;
}
